* {
    font-family: 'Press Start 2P';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(235, 243, 243);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.btn-image {
    width: 150px;
    height: 150px;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title p {
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
}


nav img {
    width: 50px;
    height: 50px;
    padding-left: 1.5rem;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2.0rem 2.0rem 4rem 0rem;
    gap: 1.5rem;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2.5rem;
    gap: 2.5rem;
}

.score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
    min-height: 150px;
}


.computer-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    padding: 0;
    margin: 0;
    padding: 0;
}

.computer-play {
    border: 5px dashed black;
    width: 120px;
    height: 120px;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    padding: 0.5rem 0;
}




nav,
main,
footer {
    flex-shrink: 0;
}